@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-y : hidden;
}

.wrap {
    max-width : 800px;
    height : 100%;
    margin : 10% auto;
}

.header { 
    font-family : ghanachoco;
    font-size : 50px;
    color : cornflowerblue;
    font-style : italic;
}

.slider_window {
    position : relative;
    margin : 5% auto;
    max-width : 800px;
    max-height : 500px;
    width : 800px;
    height : 500px;
    border : 1px solid #c4c4c4;
    overflow : hidden;
}

.content_wrap {
    width : 5600px;
    height : 100%;
    transform : translateX(-800px);
}

.content {
    width : 800px;
    height : 500px;
    max-width : 800px;
    max-height : 500px;
    float : left;
}

.content img {
    width : 100%;
    height : 100%;
    vertical-align : bottom;
}

.btn {
    position : absolute;
    display : block;
    width : 30px;
    height : 30px;
    top : 235px;
    opacity : 0.0;
    cursor : pointer;
    transition : opacity 0.5s;
    border-style : none;
    background : none;
}

.btn img {
    width : 100%;
    height : 100%;
}

.next_btn {
    left : 770px;
}

.page_box {
    position : absolute;
    left : 50%;
    height : 30px;
    top : 470px;
    z-index : 1;
    text-align : center;
    font-size : 0px;
    transform : translateX(-50%);
}

.page_btn {
    display : inline-block;
    margin : 10px 5px;
    width : 10px;
    height : 10px;
    border-style : none;
    background-color : white;
    opacity : 0.5;
    transition : opacity 0.5s;
    cursor : pointer;
}

.hover {
    opacity : 0.65;
}

.current {
    opacity : 1.0;
}